<%= render 'layouts/header' %>
<div class="main_image">
    <div class="container text-center main_image_box">
        <h1 class="main_image_title">Let's Start e-learning!</h1>
        <p class="lead">This site is to learn something you want using e-learning system.Let's start your study on this site.</p>
        <% if !logged_in? %>
            <div class="main_image_btn">
                <%= link_to 'Sign Up', signup_path, class: "btn btn-lg btn-primary" %>
                <%= link_to 'Sign In', login_path, class: "btn btn-lg btn-secondary" %>
            </div>
        <% end %>
    </div>
</div>

<main role="main">
    <% if logged_in? %>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="user_details">
                        <div class="thumbnail">
                            <%= image_tag @user.image.url, class: "user_image" %>
                        </div>
                        <p>Name: <%= @user.name  %></p>
                        <p>Email: <%= @user.email  %></p>
                        <p>Words_Numbers: <%= @word_count %></p>
                        <%= render 'users/stats' %>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="user_activity">
                        <h2 class="text-center wf-mplus1p mb-4 gradient-border font-weight-light">Activities</h2>
                        <% @feeds.each do |feed| %>
                            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                                <div class="card-body">
                                    <div class="col-lg-4 left">
                                        <%= image_tag feed.user.image.url, class: "user_image_top" %>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="card-text"><%= feed.user.name %> finished <%= feed.category.title %></p>
                                        <p><%= feed.created_at %></p>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                        <%= will_paginate @feeds, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer%>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</main>
<%= render 'layouts/footer' %>
