<%= render 'layouts/header' %>
<div class="container pt50">
    <div class="row">
        <div class="categories_all col-lg-12 text-center">
            <h2 class="text-center wf-mplus1p mb-4 gradient-border font-weight-light">
                Answer Page
            </h2>
            <h2 class="choice_title">
                <%= @word.content %>
            </h2>
                <div class="col-lg-4 choice_content">
                    <% @word.word_answers.each do |answer| %>
                        <%= form_for [@lesson, @lesson_word] do |f| %>
                            <%= f.hidden_field :word_id, value: @word.id %>
                            <%= f.hidden_field :word_answer_id, value: answer.id %>

                            <%= f.submit answer.content, class: 'btn btn-info btn-block choice' %>
                        <% end %>
                    <% end %>
                </div>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
