<%= render 'layouts/header' %>
<div class="container pt50">
    <div class="row">
      <div class="categories_all col-lg-12 text-center">
        <h2 class="text-center wf-mplus1p mb-4 gradient-border font-weight-light">Answer Page</h2>
        <!-- <p><%#= @word. %>/<%#= @word.category.words.count %></p> -->
        <h2 class="choice_title"><%= @word.content %></h2>
        <%= form_for :word_answers do |f| %>
            <div class="col-lg-4 choice_content">
            <% @word.word_answers.each do |answer| %>
                <% if @word.id != @word.category.words.last.id %>
                    <% next_word = @lesson_word.id + 1 %>
                    <%= link_to lesson_lesson_word_path(@lesson.id, next_word, answer_id: answer.id), class: "btn btn-info btn-block choice" do %>
                        <%= answer.content %>
                    <% end %>
                <% else %>
                    <%= link_to lesson_path(@lesson.id, answer_id: answer.id, lesson_word_id: @lesson_word.id), class: "btn btn-info btn-block choice" do %>
                        <%= answer.content %>
                    <% end %>
                <% end %>
            <% end %>
            </div>
        <% end %>
      </div>
    </div>
</div>
<%= render 'layouts/footer' %>
