<%= render 'layouts/header' %>
<div class="user_main_image">
    <h1 class="user_title">DashBoard</h1>
</div>
<div class="container pt50">
    <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <div class="row">
        <div class="col-lg-4">
            <div class="user_details">
                <div class="thumbnail">
                    <%= image_tag @user.image.url, class: "user_image" %>
                </div>
                <p class="sidebar_content" >Name: <%= @user.name  %></p>
                <p class="sidebar_content" >Email: <%= @user.email  %></p>
                <%= link_to lessons_path(user_id: @user.id) do %>
                    <p class="sidebar_content" >lessons: <%= @user.lessons.count %></p>
                <% end %>
                <p class="sidebar_content_last">Words_Numbers: <%= @word_count %></p>
                <%= render 'users/stats' %>
                <% if @user.id == current_user.id %>
                    <%= link_to 'Profile Edit', edit_user_path(current_user), class: "btn btn-outline-secondary edit_btn" %>
                <% else %>
                    <%= render 'users/follow_form' %>
                <% end %>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="user_activity">
                <h2 class="text-center wf-mplus1p mb-4 gradient-border font-weight-light">Activities</h2>
                    <div class="card-body">
                        <p style="margin-bottom: 10px;">Study Progress</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-primaty" role="progressbar"
                             style="width: <%= @user.lessons.count.to_f / @category.count.to_f * 100 %>%" aria-valuemin="0"
                              aria-valuemax="100"><%= @user.lessons.count.to_f / @category.count.to_f * 100 %>%</div>
                        </div>
                    </div>
                    <% @activities.each do |activity| %>
                        <div class="card mb-4 box-shadow">
                            <div class="media mb-4">
                                <div class="media-body ml-2">
                                    <% if activity.action.is_a?(Relationship) %>
                                        <% relationship = activity.action %>
                                        <%= image_tag activity.user.image.url, class: "user_image", style: "width:30px; height:30px;" %>
                                        <%= activity.user.name %>
                                        followed
                                        <%= link_to(    relationship.followed.name,
                                                        relationship.followed,
                                                        class: 'badge badge-secondary') %>
                                    <% elsif activity.action.is_a?(Lesson) %>
                                        <% lesson = activity.action %>
                                        <%= image_tag activity.user.image.url, class: "user_image", style: "width:30px; height:30px;" %>
                                        <%= activity.user.name %>

                                        learned
                                        in <%= link_to lesson.category.title, lesson, class: 'badge badge-primary' %>
                                    <% end %>
                                    <div>
                                        <small class="text-muted"><%= time_ago_in_words(activity.created_at) %> ago</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <%= will_paginate @lesson_users, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer%>
            </div>
        </div>
    </div>
</div>
<%= render 'layouts/footer' %>
