<%= render 'admins/header' %>

<div class="container-fluid">

  <div class="row">
    <%= render 'admins/sidebar' %>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

      <h2>Create Category!</h2>

      <!-- Create categories -->
      <%= form_for([:admins, @category]) do |f| %>
      <p>Category Name</p><%= f.text_field :title, :class => 'form-control', :placeholder => 'Please write category name' %>
      <p>Description</p><%= f.text_area :description, :class => 'form-control', :placeholder => 'Please write category description' %>

      <!-- Create Words -->
      <%= f.fields_for :words do |i| %>
        <%= render 'admins/categories/word_fields', f: i %>
      <% end %>

      <!-- Add Words -->
      <div class="field">
        <%= link_to_add_association 'Add words', f, :words %>
      </div>

      <!-- Submit -->
      <%= f.submit "Update Category", :class => 'btn btn-primary center-block' %>
    <% end -%>

    </main>
  </div>
</div>
